.add-button {
    position: absolute;
    bottom: 25px;
    right: 125px;
    background-color: var(--color1);
    border: 2px solid var(--color0);
    border-radius: 10px;
    color: var(--color4);
    width: 75px;
    height: 75px;
    font-size: 65px;
    text-align: center;
    padding-bottom: 0px;
    padding-right: 3px;
    transition: .5s;
    cursor: pointer;
}

.delete-button {
    position: absolute;
    bottom: 25px;
    right: 25px;
    background-color: var(--color1);
    border: 2px solid var(--color0);
    border-radius: 10px;
    color: var(--color4);
    width: 75px;
    height: 75px;
    font-size: 65px;
    text-align: center;
    padding-bottom: 0px;
    transition: .5s;
    cursor: pointer; 
}