/* https://coolors.co/0091ad-6efafb-fff4e4-f7e8a4-ff57bb */
:root {
    --color0: #725752;
    --color1: #878E88;
    --color2: #96C0B7;
    --color3: #D4DFC7;
    --color4: #FEF6C9;

}

header {
    background-color: var(--color0);
    color: var(--color4);
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
header > div {
    width: 200px;
}

header p {
    text-align: right;
}

body {
    background-color: var(--color4);
    margin: 0px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.folder-card {
    height: 50px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color3);
    margin: 5px;
    padding: 10px;
    border: 2px solid var(--color0);
    border-radius: 10px;
}

.folder-card:hover {
    background-color: #96C0B7;
}
.folder-icon {
    max-height: 50px;
}
a {
    text-decoration: none;
    color: var(--color0);
}