/* https://coolors.co/0091ad-6efafb-fff4e4-f7e8a4-ff57bb */
:root {
    --color0: #725752;
    --color1: #878E88;
    --color2: #96C0B7;
    --color3: #D4DFC7;
    --color4: #FEF6C9;

}

header {
    background-color: var(--color0);
    color: var(--color4);
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
header > div {
    width: 200px;
}

header p {
    text-align: right;
}

body {
    background-color: var(--color4);
    margin: 0px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.folder-card {
    height: 50px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color3);
    margin: 5px;
    padding: 10px;
    border: 2px solid var(--color0);
    border-radius: 10px;
    transition-duration: .5s;
}

.folder-card:hover {
    background-color: #96C0B7;
    transition-duration: .5s;
}
.folder-icon {
    max-height: 50px;
}
a {
    text-decoration: none;
    color: var(--color0);
}

.user_box {
    max-width: 400px;
    height: 100px;
    background-color: var(--color3);
    border: 2px solid var(--color0);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color0);
    position: absolute;
    padding: 50px;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
    opacity: 0;
}

#user_form > h1 {
    text-align: center;
}

#user_form > p {
    display: flex;
    align-items: center;
    justify-content: center;
}

#user_button {
    width: 100px;
    height: 25px;
}

.user_error {
    font-size: 0px;
    color: red;
}