@import "./colors.css";
@import "./header.css";
@import "./addDeleteButton.css";

body{
    margin: 0;
    padding: 0;
    background-color: #d5d0b3;
}
/* header{
    text-align: center; 
    background-color: var(--color0);
    height: 100%;
    margin: 0%;
}
h1{
    margin-top: 0;
} */
/* .lightModeBox{
    position: absolute;
    left: 10px;
    top: 6%;
    border: #000000 solid 2px;
    width:40px;
    height: fit-content;
    text-align: left;
    background-color: aliceblue;
}

.lightModeImage{
    width: 20px;
} */

main{
    margin-top: 10%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.stickyNote{
    width: 20%;
    height: auto;
    background-color: var(--color2);
    border: var(--color0) solid 2px;
    border-radius: 10px;
    min-width: 150px;
    padding: 10px;
    margin: 10px;
    color: var(--color0);
}

h2{
    text-align: center;
}

.addnote{
    background-color: var(--color1);
    color: var(--color4);
    border: var(--color0) solid 2px;
}